.main-custom {
    height: 100%;
}

.card-custom {
    width: 80%;
    max-width: 1200px;
    min-width: 400px;
    height: 60%;
    min-height: 600px;

    color: var(--foreground);

    background-color: var(--primary);
}

.section-custom {
    width: 50%;
    height: 100%;
}

.form-section {
    transition: opacity 0.3s ease;
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

@media (max-width: 1024px) {
    .section-custom {
        display: none;
        width: 100%;
    }

    .form-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .card-custom {
        height: 40%;
    }
}